---
import '../styles/global.css';
const { title = "Sounds" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <div class="centered-container">
      <header class="site-header">
        <a href="/" class="site-title">SOUNDS</a>
        <div class="separator">------------------------------------------------------------</div>
        <nav class="links">
          <a href="/" class="page-link">[FEED]</a>
          <a href="/search" class="page-link">[SEARCH]</a>
          <a href="/about" class="page-link">[INFO]</a>
        </nav>
        <div class="separator">------------------------------------------------------------</div>
      </header>

      <main class="page-content">
        <slot />
      </main>
    </div>
  </body>
</html>
